.star-system {
	height: fit-content;
	flex-wrap: wrap;
	left: 10%;
	top: 20%;
	width: 80%;
	position: absolute;
	display: flex;
	background: url("/assets/space2.jpg");
	flex-direction: row;
}
#navigation {
	background-color: black;
	display: flex;
	flex-direction: row;
	position: absolute;
	height: 15%;
	width: 80%;
	left: 10%;
	top: 10%;
}
.planet{
	text-align: center;
	width: 300px;
	height: 300px;
	transition: ease-in-out 0.1s;
}

.planet:hover {
	transform: scale(0.9, 0.9);
	box-shadow: 1px 1px 20px white;
}
.planet:hover .tooltip {
	visibility: visible;
}