#map {
	height: 80%;
	width: 80%;
	background-repeat: round;
	position: absolute;
	background-color: black;
	top: 10%;
	left: 10%;
	overflow: hidden;
}
#map:active {
	cursor: not-allowed;
}

.star-systems {
	height: 200vw;
	border-radius: 20px;
	background: url("/assets/space2.jpg");
	width: 200vw;
	border-radius: 20px;
	position: absolute;
	display: grid;
	grid-template-columns: 18vw 18vw 18vw 18vw 18vw 18vw 18vw 18vw 18vw 18vw;
	column-gap: 50px;
	row-gap: 50px;
	top: 0;
	left: 0;
	transform-origin: top left;
}
.star-systems:active {
	cursor: all-scroll;
}
.star-system {
	height: 100px;
	width: 100px;
	border-radius: 50%;
	text-align: center;
	box-shadow: 1px 40px 20px 1px var(--red);
	transition: ease-in-out 0.1s;

}

.cropped-image {
	pointer-events: none;
	height: 100%;
	width: 100%;
	padding: auto;
	border-radius: 50%;
}

.details{
	background: rgba(255, 23, 23, 0.315);
	border-radius: 10px;
}
.star-system:hover {
	transform: scale(1.2, 1.2);
	box-shadow: 1px 40px 20px 1px var(--red), 1px 1px 20px white;

}
.star-system {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
}