<!DOCTYPE html>
<html>
	<div  class="content">
		<div *ngIf="!show_register" id="main">
			<p>Join the endless space war! Do this and that
				and take over everything! You can try the short demo or begin your
				very own adventure! </p>
			<div id="main-1">
				<button class="register-button" routerLink="/register">Demo</button>
				<button class="register-button" (click)="showRegister()">Register</button>
			</div>
		</div>

		<div *ngIf="show_register" id="register">
			<h3 style="color: white; margin-left: 5%;"> Create your account</h3>
		
			<form [formGroup]="registerForm" (ngSubmit)="register()">
				<input
				[style]="{'background-color':
											(regForm.Name.valid || regForm.Name.pristine) ? 'white' : 'rgb(247, 210, 210)'}"
				id="Name" name="Name" type="text" placeholder="Username"
				formControlName="Name">
				<input
					[style]="{'background-color': 
								(regForm.Email.valid || regForm.Email.pristine) ? 'white' : 'rgb(247, 210, 210)'}"
					id="Email" name="Email" type="text" placeholder="Email Address"
					formControlName="Email">
					<div [hidden]="regForm.Email.valid || regForm.Email.pristine" class="alert-error">
						Invalid email!
					</div>
				<input
					[style]="{'background-color':
								(regForm.Password.valid || regForm.Password.pristine) ? 'white' : 'rgb(247, 210, 210)'}"
					id="Password" name="Password" type="password" placeholder="Password"
					formControlName="Password">
				<br> 
				<button (click)="hideRegister()" class="register-back-button" >Back</button>
				<button [disabled]="!this.registerForm.valid" class="register-confirm-button"
					 type="submit">Register</button>
					
			</form>
		</div>

		<div *ngIf="!show_register" id="login" >
			<h3 style="color: white; margin-left: 5%;"> Sign in</h3>

			<form [formGroup]="profileForm"  (ngSubmit)="login()">
				<input [style]="{'background-color': 
						(logForm.email.valid || logForm.email.pristine) ? 'white' : 'rgb(247, 210, 210)'}"
					id="login-email" name="login-email" type="text"
					placeholder="Email Address" formControlName="email">
						<div [hidden]="logForm.email.valid || logForm.email.pristine"
							class="alert-error" >
								Invalid email!
						</div>
				<input [style]="{'background-color':
						(logForm.password.valid || logForm.password.pristine) ? 'white' : 'rgb(247, 210, 210)'}"
					id="password" name="password" type="password"
					placeholder="Password" formControlName ="password" >

				<button [disabled]="!this.profileForm.valid" 
					class="log-in-button"  type="submit">Login</button>
			</form>
		</div>
	</div>
</html>