<!DOCTYPE html>
<html>
<div class="content" id="content">
	<!--Faction selection-->
	<div *ngIf="this.page==1" class="char-creation-panels">
		<div class="summary">
			<h2 style="height: fit-content;">Select your faction MOVE LEFT</h2>
			<h3>
				Join one of the three factions battling for superiority or choose the difficult
				but free path. Every faction offers different units, buildings and technologies.
				Fullfilling their demands will build up you favor with them while
				completely disregarding their orders will eventually turn you into one of their
				enemies!
				<br><br>
				You can drift away or towards different factions throught your game and 
				your initial choice only matters for the start of your game.
			</h3>
		</div>
		<div class="panels" >
			<div *ngFor="let faction of gameFactions; let i = index" class="faction-choice" 
				(click)="this.factionIndex = i"
				[style]="{'background-color': faction.color,
					'box-shadow': this.factionIndex == i ? '0 0 20px white' : 'none'}">
				<h3>{{faction.name}}</h3>
				<h4 style="background: black;">Faction Icon</h4>
			</div>
		</div>
		<div *ngIf="this.factionIndex > -1" class="description">
			<div class="details">
				<h4>Description of {{this.gameFactions[this.factionIndex].name}}</h4>
				<p>{{this.gameFactions[this.factionIndex].description}}</p>
				<p>Some modifier: {{this.gameFactions[this.factionIndex].someModifier}}</p>
			</div>
			<div class="example-pic">Example of a {{this.gameFactions[this.factionIndex].name}} colony</div>
		</div>
		<div id="buttons">
			<button [disabled]="this.factionIndex < 0 "type="button" class="forward-button" (click)="this.filterSpecies()"></button>
		</div>
	</div>

	<!--Species selection-->
	<div *ngIf="this.page==2" class="char-creation-panels">
		<div class="summary">
			<h2 style="height: fit-content;">Select your starting species MOVE LEFT</h2>
			<h3>
				Choose your starting species. Each has their own stregths and
				weaknesses. You can eventually have any species in your colonies, however 
				most don't like mixing, especially with parasites and robots. Parasites
				and robots can not reproduce naturally.
			</h3>
		</div>
		<div class="panels">
			<div *ngFor="let species of filteredSpecies; let i = index" class="faction-choice" disabled
				(click)="this.speciesIndex = i" [style]="{'background-color': species.color,
								'box-shadow': this.speciesIndex == i ? '0 0 20px white' : 'none'}">
				<h3>{{species.name}}</h3>
			</div>			
		</div>
		<div *ngIf="this.speciesIndex > -1" class="description">
			<div class="details">
				
				<p style="text-align: center;">{{this.filteredSpecies[this.speciesIndex].name}}</p>
				<p>Description: {{this.filteredSpecies[this.speciesIndex].description}}</p>
				<p>Reproduction Speed: {{this.filteredSpecies[this.speciesIndex].reproductionSpeed}}x</p>
				<p>Research Speed: {{this.filteredSpecies[this.speciesIndex].researchSpeed}}x</p>
				<p>Production Speed: {{this.filteredSpecies[this.speciesIndex].productionSpeed}}x</p>
				<p>Combat Strength: {{this.filteredSpecies[this.speciesIndex].combatStrength}}x</p>
				<p>Suit Complexity: {{this.filteredSpecies[this.speciesIndex].suitComplexity}}x</p>
				<p>Temperature Range: {{this.filteredSpecies[this.speciesIndex].temperatureRange}}C</p>
				<p>Temperature Average: {{this.filteredSpecies[this.speciesIndex].temperatureAverage}}C</p>
				<p>Loyalty: {{this.filteredSpecies[this.speciesIndex].loyalty}}</p>
			</div>
			<div class="example-pic">Picture of
				{{this.filteredSpecies[this.speciesIndex].name}} species
			</div>

		</div>
			
		<div id="buttons">
			<button type="button" class="back-button" (click)="this.page=1;this.speciesIndex=-1"></button>
			<button [disabled]="this.speciesIndex < 0" type="button" class="forward-button" (click)="this.page=3"></button>
		</div>
	</div>
	<!--Stats
			selection-->
	<div *ngIf="this.page==3" class="char-creation-panels">
		<div class="summary">
			<h2 style="height: fit-content;">Select your character skills MOVE LEFT</h2>
			<h3>
				Choose your starting governing capabilities! Throughout your game you will
				be able to improve these stats by acquiring experience, items or traits.
				If you are lacking in some skill you can hire teammates and governors with
				better stats which will add to yours. Keep in mind those wanting to join 
				your team will depend on your species, faction and fame.
			</h3>
		</div>
		<h5 style="margin-top: 10%;margin-left: 40%;">Available points <br>	{{this.availablePower}}</h5>
		<div class="stat-headers">
				<h5>Space Warfare</h5>
				<h5>Land Warfare</h5>
				<h5>Research</h5>
				<h5>Engineering</h5>
				<h5>Economy</h5>

		</div>
		<div class="stats">
				<div class="stat-toggle">
					<button [disabled]="this.spaceWarfare == 5"
						(click)="adjust(1, -1)" class="decrease-btn">
					</button>
					<h5>{{this.spaceWarfare}}</h5>
					<button [disabled]="this.spaceWarfare == 20 || this.availablePower == 0"
						(click)="adjust(1, 1)" class="increase-btn">
					</button>
				</div>
				<div class="stat-toggle">
					<button 
						[disabled]="this.landWarfare == 5"
						(click)="adjust(2, -1)" 
						class="decrease-btn">
					</button>
					<h5>{{this.landWarfare}}</h5>
					<button 
						[disabled]="this.landWarfare == 20 || this.availablePower == 0"
						(click)="adjust(2, 1)" 
						class="increase-btn">
					</button>
				</div>
				<div class="stat-toggle">
					<button [disabled]="this.research== 5"
						(click)="adjust(3, -1)" class="decrease-btn">
					</button>
					<h5>{{this.research}}</h5>
					<button [disabled]="this.research == 20 || this.availablePower == 0"
						(click)="adjust(3, 1)" class="increase-btn">
					</button>
				</div>
				<div class="stat-toggle">
					<button [disabled]="this.engineering == 5"
						(click)="adjust(4, -1)" class="decrease-btn">
					</button>
					<h5>{{this.engineering}}</h5>
					<button [disabled]="this.engineering == 20 || this.availablePower == 0"
						(click)="adjust(4, 1)" class="increase-btn">
					</button>
				</div>
				<div class="stat-toggle">
					<button [disabled]="this.economy == 5"
						(click)="adjust(5, -1)" class="decrease-btn">
					</button>
					<h5>{{this.economy}}</h5>
					<button [disabled]="this.economy == 20 || this.availablePower == 0"
						(click)="adjust(5, 1)" class="increase-btn">
					</button>
				</div>
		</div>
		<div id="buttons">
			<button type="button" class="back-button" (click)="this.page=2"></button>
			<button [disabled]="this.availablePower > 0" type="button" class="forward-button" (click)="checkInput()"></button>
		</div>
	</div>
	<!--Confirm 
			page-->
	<div *ngIf="this.page==4" class="char-creation-panels" style="width: fit-content;">
			<h2>Confirm your selection MOVE LEFT</h2>
			<h3>Selected faction: {{this.gameFactions[this.factionIndex].name}}</h3>
			<h3>Selected species: {{this.filteredSpecies[this.speciesIndex].name}}</h3>
			<h3>Selected stats: 
				<p>&emsp;Space Warfare: {{this.spaceWarfare}}</p>
				<p>&emsp;Land Warfare: {{this.landWarfare}}</p>
				<p>&emsp;Research: {{this.research}}</p>
				<p>&emsp;Engineering: {{this.engineering}}</p>
				<p>&emsp;Economy: {{this.economy}}</p>
			</h3>
			
			<h2 *ngIf="!this.canSubmit"
				style="color: orangered; background-color: rgba(250, 235, 215, 0.952);">
					There are errors in your inputs, please check it!
			</h2>

		<div id="buttons">
			<button type="button" class="back-button" (click)="this.page=3"></button>
			<button [disabled]="!this.canSubmit" type="button" style="float:right;	margin-top: 20px;" (click)="updateCharacter()">Submit</button>
		</div>
	</div>
</div>

</html>