svg {
	transform: translate(5px, 6px)
}
.icon-plus, .icon-close {
	margin: 10%;
	height: 80%;
	width: 80%;
	transform: translate(0, 0);
}

.icon-container{
	margin-bottom: 5px;
	float:right;
	width: 35px;
	height: 35px;
}
.icon-container:hover {
	background-color: rgba(202, 202, 202, 0.39);
}