<!DOCTYPE html>
<html>
	<div class="registration-page-center">
	<h1>Registration</h1>
		<form #heroForm="ngForm" (ngSubmit)="onSubmit()">
			<div class="form-group">
				<label for="name">Name</label>
				<input type="text" class="form-control" id="name" required
					[(ngModel)]="model.Name" name="Name" #Name="ngModel">
				<div [hidden]="Name.valid || Name.pristine" class="alert alert-danger">
					Name is required
				</div>
			</div>
		
			<div class="form-group">
				<label for="email">email</label>
				<input type="text" class="form-control" id="email"
					[(ngModel)]="model.Email" name="email">
			</div>
		
			<div class="form-group">
				<label for="password">Password</label>
				<input type="text" class="form-control" id="password"
					[(ngModel)]="model.Password" name="password">
			</div>
		
			<button type="submit" class="btn btn-success"
				[disabled]="!heroForm.form.valid" >Submit</button>
			<button type="button" class="btn btn-default"
				(click)="newUser(); heroForm.reset()">New Hero</button>
		</form>
			<button class="log-in-button" (click)="goBack()">Go back</button>
			<button class="registration-button" type="submit" >Registration</button>
	</div>
</html>