<!DOCTYPE html>
<html>
	<div class="content" id="content">
		<div class="center-flex" id="registration">
			<form   *ngIf="!registered" [formGroup]="registrationForm" (ngSubmit)="registration()">
				<h2 style="color: white; margin-right: 5% ;"> Create your account</h2>
				<input (keyup)="userLoading=true"
					[style]="{'background-color': (regForm.name.valid || regForm.name.pristine) ? 'white' : 'rgb(247, 210, 210)'}"
					id="name" name="name" type="text" placeholder="Username"
					formControlName="name">
					<icon-loading *ngIf="userLoading"></icon-loading>
					<icon-checkmark
						[style]="{'visibility': (regForm.name.valid && !userLoading) ? 'visible' : 'hidden'}">
					</icon-checkmark>
					<div *ngIf="!userExists" [hidden]="regForm.name.valid || regForm.name.pristine"
						class="alert-error">
						Username has to be 3-25 charecters long, start with letters and not have special symbols (except _ or -) 
					</div>
					<div *ngIf="userExists" class="alert-error">Username is taken</div>
				<input (keyup)="emailLoading=true"
					[style]="{'background-color': (regForm.email.valid || regForm.email.pristine) ? 'white' : 'rgb(247, 210, 210)'}"
					id="email" name="email" type="text" placeholder="Email"
					formControlName="email">
					<icon-loading *ngIf="emailLoading"></icon-loading>
					<icon-checkmark 
						[style]="{'visibility': (regForm.email.valid && !emailLoading) ? 'visible' : 'hidden'}">
					</icon-checkmark>
				<div *ngIf="emailExists && !regForm.email.pristine" class="alert-error">
					E-mail is invalid or taken
				</div>
				<input 
					[style]="{'background-color': (regForm.password.valid || regForm.password.pristine) ? 'white' : 'rgb(247, 210, 210)'}"
					id="regPassword" name="password" type="password" placeholder="Password"
					formControlName="password">
					<icon-eye [inputId]="'regPassword'"></icon-eye>
				<icon-checkmark
					style="padding-left: 5px;"
					[style]="{'visibility': (regForm.password.valid ) ? 'visible' : 'hidden'}">
				</icon-checkmark>
				<div [hidden]="regForm.password.valid || regForm.password.pristine"
					class="alert-error">
					Password must be between 8-64 characters long, have at least one number, one
					uppercase and one lowercase letter!
				</div>
				<br>
				<button type="button" (click)="goBack()" class="back-button"></button>

	
				<button [disabled]="!this.registrationForm.valid" [hidden]="registered"
					class="registration-confirm-button" type="submit">Register
					 <icon-loading *ngIf="registerLoading"></icon-loading>
				</button>
			</form>
			<form *ngIf="registered" action="">
				<h3 id="success"> User successfuly created!<br>Please enter the email confirmation code!</h3>
				<input [formControl]="emailCode"
				  [style]="{'background-color': (confirmationCode.valid || confirmationCode.pristine) ? 'white' : 'rgb(247, 210, 210)'}"
					type="text" placeholder="123456" id="code">
				<button 
					id="btn-left" (click)="this.goToCharacterCreation()"> Skip confirmation
				</button>
				<button 
					id="btn-right"[disabled]="!confirmationCode.valid" 
					(click)="this.emailConfirmation()">Confirm email
				</button> 
			</form>
		</div>
	</div>
</html>