.faction,
.faction-expanded {
	display: none;
}

#main {
	height: 42%;
	padding: 20px;
	text-shadow: black 0px 0px 20px;
	border-radius: 15%;
	border-top-left-radius: 25%;
	border-bottom-left-radius: 35%;
	background: linear-gradient(to bottom right, rgba(255, 187, 0, 0.534), rgba(58, 1, 34, 0.438) 70%);
}

#side-content {
	width: 70%;
	margin: 5%;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: fit-content;
}

#login {
	display: flex;
	flex-direction: column;
	float: right;
	width: 60%;
	margin: 5%;
}

.log-in-button {
	float: right;
	width: 20%;
	margin-right: 20%;
}


@media (max-width: 1280px) and (min-width: 600px) {
	#login {
		width: 40%;
	}
}

@media (min-width: 1280px) and (min-height: 600px) {
	.content {
		background: url("../../../assets/red.jpg") no-repeat;
		background-size: 100vw 100vh;
	}

	#main {
		align-items: center;
	}

	#factions {
		display: flex;
		position: fixed;
		top: -1px;
		left: 50%;
		height: 10%;
		width: 15%;
		transform: translate(-50%, 0);
	}

	#factions span:nth-child(1) {
		box-shadow:
			inset 10px -5px 10px rgb(160, 255, 180),
			inset -10px -5px 10px rgb(160, 255, 180);
	}

	#factions span:nth-child(2) {
		box-shadow:
			inset 7px -5px 10px black,
			inset -7px -5px 10px black;
	}

	#factions span:nth-child(3) {
		box-shadow:
			inset 7px -5px 10px cyan,
			inset -7px -5px 10px cyan;
	}

	.faction,
	.faction-expanded {
		display: block;
		text-align: center;
		font-size: 1.1em;
		font-family: fantasy;
		border-bottom-right-radius: 30%;
		border-bottom-left-radius: 30%;
		flex-grow: 1;
	}

	.faction-expanded {
		position: fixed;
		justify-content: center;
		display: none;
		top: 10%;
		height: 12%;
		width: 30%;
		padding: 10px;
		border-radius: 10%;
	}

	.faction:hover {
		margin-left: 3.5%;
		margin-right: 3.5%;
		border-radius: 0;
	}

	#expanded-1 {
		left: 43%;
		padding: 2%;
		box-shadow:
			0px 0px 20px olivedrab,
			inset 20px 0 10px rgb(160, 255, 180),
			inset -20px 0 10px rgb(160, 255, 180);
		font-family: Impact, Haettenschweiler, 'Arial Narrow	', sans-serif;
		border-top-left-radius: 0;
		animation: 0.6s ease expand-1;
	}

	@keyframes expand-1 {
		0% {
			width: 15%;
			height: 0;
		}

		100% {
			width: 30%;
			height: 12%;
		}
	}

	#expanded-2 {
		left: 50%;
		padding: 2%;
		box-shadow:
			0px 0px 10px white,
			inset 20px 10px 20px black,
			inset -20px -10px 20px black;
		transform: translate(-50%, 0);
		animation: 0.6s ease expand-2;
	}

	@keyframes expand-2 {
		0% {
			height: 0;
		}

		100% {
			height: 12%;
		}
	}

	#expanded-3 {
		left: 23%;
		padding: 2%;
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		text-shadow: purple 0px 0px 1px;
		border-top-right-radius: 0;
		color: white;
		vertical-align: middle;
		box-shadow:
			0px 0px 10px purple,
			inset 20px 0 20px cyan,
			inset -20px 0 20px cyan;
		animation: 0.6s ease expand-3;
	}

	@keyframes expand-3 {
		0% {
			margin-left: 10%;
			transform: scaleX(0.1);
			height: 0;
		}

		100% {
			margin-right: 0;
			transform: scaleX(1);
			height: 12%;
		}
	}

	#login {
		display: flex;
		flex-direction: column;
		float: right;
		margin-right: 0;
		height: 30%;
		width: 20%;
		opacity: 60%;
	}

	#login:hover {
		opacity: 100%;
	}

}