/* You can add global styles to this file, and also import other style files */
html,body {
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100vw;
}

* {
	box-sizing: border-box;
}

.alert-wrong-input{
	margin-left: 5%;
	padding: 3px;
	max-width: fit-content;
	background-color: white;
	color: red;
	border-radius: 10px	;
}