/* You can add global styles to this file, and also import other style files */
:root {
	--green: rgb(24, 219, 66, 0.329);
	--red: rgba(201, 6, 6, 0.329);
	--blue: rgba(5, 174, 247, 0.329);

}
html,body {
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100vw;
}

* {
	box-sizing: border-box;
}

.alert-wrong-input{
	margin-left: 5%;
	padding: 3px;
	max-width: fit-content;
	background-color: white;
	color: red;
	border-radius: 10px	;
}
