<!DOCTYPE html>
<html>
	<app-nav-bar></app-nav-bar>
	<form id="navigation" [formGroup]="destinationForm">
		<button class="back-button" (click)="backToGalaxy()"></button>
		<input formControlName="destinationX" type="text" placeholder="X (0-99)">
		<input formControlName="destinationY"  type="text" placeholder="Y (0-99)">
		<button id="coordinate-btn" [disabled]="!this.destForm.destinationX.valid || !this.destForm.destinationY.valid" 
			type="button" (click)="this.goToLocation()">Go to
		</button>
		<h3 style="margin-left: 30px ;">Sector {{sectorId}}</h3>
	</form>
	<div id="map" class="game-content-window" >
		<button class="map-btn" id="map-btn-left"></button>
		<button class="map-btn" id="map-btn-top"></button>
		<button class="map-btn" id="map-btn-right"></button>
		<button class="map-btn" id="map-btn-bottom"></button>
		<div class="star-systems" id="systemsPanner" 
			(pointerleave)="this.panning = false" (pointermove)="this.moveView($event)"
			(pointerup)="this.panning=false" (pointerdown)="this.updatePannerMousePos($event)">
			<div *ngFor="let star of starSystems; let i = index " 
				class="star-system" [style]="{'background-color': backgrounds[i]}" (click)="goToSystem(star.id)">
				<tooltip [starSystem]="star" [position]=i></tooltip>
				<h4 *ngIf="i % 5 == 0">Sieged</h4>
				<h4 *ngIf="i % 4 == 0">Ongoing battle</h4>
				<img src={{images[i]}} class="cropped-image" >
				<h1 *ngIf="star.size > 10">Capital</h1>
				<h3>
					{{star.name}} <br> {{star.locationX}}: {{star.locationY}} 
				</h3>
				
				
				<!--<div class="details"> Star Name: ASDF <br> Planets: 3/5 <br> Resources: 300</div>-->
			</div>
		</div>
	</div>
</html>	